@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

.header-divider {
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, rgba(152, 155, 153, 0), rgba(152, 155, 153, 1));
}

.header-divider-invert {
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, rgba(152, 155, 153, 1), rgba(152, 155, 153, 0));
}

section.banner {
    background: imgUrl('bulb.jpg') right top;
    padding: 112px 0;

    .vertical-divider {
        height: 183px;
        width: 2px;
        background: linear-gradient(rgba(152, 155, 153, 0), rgba(152, 155, 153, 1), rgba(152, 155, 153, 0));
    }

    .sm-cta {
        transition: 0.2s all;
        &:hover {
            transform: translateY(-10px);
        }
    }

    .cta {
        background: $primary;
        color: $white;
        font-family: $font-ddt-extended;
        font-size: 20px;
        text-transform: uppercase;
        padding: 28px 0;
        transform: rotate(-2deg);
        margin-top: 48px;
    }
}

section.services {
    #services-slider {
        .service {
            padding: 0 10px;

            .image {
                position: relative;

                .overlay {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 93, 166, 0.7);
                    width: 100%;
                    height: 0;
                    transition: 0.3s all;
                    color: $white;
                    font-size: 20px;
                    font-weight: 400;
                    padding: 29px;
                    display: flex;
                    align-items: center;
                    opacity: 0;
                }

            }
            
            &:hover {
                .image .overlay {
                    height: 100%;
                    top: 0;
                    opacity: 1;
                }

                // .adjacent-arrow {
                //     transform: rotate(-45deg);
                // }
            }

            .title {
                background: $primary;
                color: $white;
                display: inline-flex;
                padding: 24px;
                font-size: 25px;
                line-height: 1.2;
                transform: translateY(-38px);
                position: relative;
            }
        }
    }
}

section.about {
    padding: 87px 0;
    background: imgUrl('service-van.png') left center;
}

section.servicing-category {
    background: $primary;
    color: $white;
    font-family: $font-ddt-extended;
    font-size: 20px;
    text-transform: uppercase;
    padding: 28px 0;
    transform: rotate(2deg);
    margin-top: 48px;
}

section.why-us {
    padding: 159px 0 127px;
}

section.contact-us {
    background: imgUrl('map.jpg') left center;
    background-size: contain;
    padding: 100px 0;
    margin-bottom: 153px;

    .form {
        background: $primary;
        padding: 72px 70px;
        color: $white;

        form {
            margin-top: 36px;

            .form-control {
                border-radius: 0;
                border: 0;
                height: 54px;
            }
        }
    }
}